doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title= title
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/js/jquery-2.0.3.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/components/davis/davis.js')
		script(src='/components/flowtype/flowtype.js')
		script(src='/js/muaz.js')
		script setTimeout(function(){$(function(){$('#content-wrapper').carousel('pause');});},200);
	body
		div#fb-root
		script (function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=568010613234136";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
		div.info
			div
				h4.info-bold MUAZ MUHAMMAD RASHEED
			div
				h4 MP, MADAVELI CONSTITUENCY
			div
				h4 REPUBLIC OF MALDIVES
		section.container-fluid
			section#content-wrapper.carousel.slide(data-ride="carousel")
				section#menu
					ul.list-unstyled.list-inline
						li
							a(href="/") HOME
						li
							a(href="/about") ABOUT
						li
							a(href="/contact") CONTACT
					div.fb-like-box(data-href="https://www.facebook.com/MUAZ2014", data-colorscheme="dark", data-show-faces="false", data-header="false", data-stream="false", data-show-border="false")
				div.carousel-inner
					div.item#i.active
						//h1 “This sentence is surrounded by &ldquo; and &rdquo;, which are a type of quotation marks.”
					div.item#j
					div.item#k
			section.row
				section.col-xs-7
				section.col-xs-4#timeline-wrapper
					header( data-friction-x="0.1", data-friction-y="0.1", data-scalar-x="25", data-scalar-y="15")
						h2.lighter.layer(data-depth="0.00") MP
						h1.bolder.layer(data-depth="0.05") MUAZ MUHAMMAD RASHEED
						//h2.lighter.italic Of
						h2.lighter.layer(data-depth="0.10") MADAVELI CONSTITUENCY
						h4
							span.bolder.layer(data-depth="1.00") REPUBLIC OF MALDIVES
					section.timeline-month
						h3.bolder April 2014
						section.timeline-item
							p Innaalillaahi vainnaa ilaihi raaji'un. This calls for a serious review in safety issues in the working environment.
							h6.timeline-item-date
								span Apr 3
								span &nbsp;  
								a(href="https://www.facebook.com/MUAZ2014/posts/273436246167906?stream_ref=10") comment
						section.timeline-item
							p Innaalillaahi vainnaa ilaihi raaji'un. This calls for a serious review in safety issues in the working environment.
							h6.timeline-item-date Apr 3
						section.timeline-item.timeline-item-special
							p Dear teachers, I'm 100% with you. Insha Allah I'll raise ur voice in majlis. #Respect #TeachersinBLACK #TeachersStrike Maldives.
							section
								img.img-responsive(src="https://pbs.twimg.com/media/BkiYCJ1CMAAwsp3.jpg:large")
							h6.timeline-item-date Apr 3
					section.strikeout
						hr
						span.italic that's all!
		script(src='/components/parallax/deploy/parallax.min.js')
		script var scene = document.getElementById('scene');var parallax = new Parallax(scene);

