BODYCOLOR = #00a97a;
*
	font-family "Open Sans" !important
.lighter
	font-weight lighter
.bolder
	font-weight bolder
.italic
	font-style italic
body 
	background BODYCOLOR
	overflow-x hidden
#timeline-wrapper
	//background BODYCOLOR
	background: rgba(0, 169, 122,.9);
	color white
	header
		text-align center
.timeline-month
	padding 3em 1.6em
.timeline-item
	a
		color white
	margin-bottom 2.3em
	img
		-webkit-filter: grayscale(100%);
		filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
		filter: gray;
	&:hover
		.timeline-item-date
			a
				display inline
.timeline-item-date
	text-align left
	a
		display none
.strikeout
	position relative
	span
		position: absolute;
		top: -23px;
		background: BODYCOLOR
		left: 40%;
		padding: 14px;
		font-weight: bolder;	
#content-wrapper
	background #333
	display inline-block
	position fixed
	height 100%
	padding-right: 0px;
	width 100%
#i
	background: url('/images/bg.jpg') center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
#j
	background: url('/images/bg2.jpg') center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
#k
	background: url('/images/bg3.jpg') center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
#menu
	margin-top: 81px;
	position: absolute;
	z-index: 1;
	margin-left: 50px;
	ul
		background: rgba(0,0,0,.05);
		li
			a
				text-decoration: none;
				padding: 20px;
				display: inline-block;
				color: #5F5F5F;
				font-weight: 400;
				font-size: 20px;
				text-shadow: 1px 1px 3px rgba(88, 88, 88, 0.4)
.carousel-inner
	height 100%
	.item
		height: 100%;
